*{
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
.header{
    background-image: url('image/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
.navbar{
    display: flex;
    color: aliceblue;
    justify-content: space-evenly;
    
}

/* Button */
.btn{
    padding: 5px;
}



/* Body */
main{
    text-align: center;
}