@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
.navbar{
    font-size: 20px;
}

.silver-gym{
    text-align: center;
    padding:20%;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 120px;
    color: antiquewhite;
}